.main-div{
	background-color:#F3F6FE;
	padding-top: 3%;
    padding-bottom: 4%;
}
.profile-div{
	max-width:700px;
	background-color: white;
    border-radius: 5px;
	box-shadow: #ecd9dd 0 0 100px 15px;
}
.input-div{
	background-color: #f3ebff;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    margin-right: 5%;
    margin-left: 5%;
}
.pro-pic{
	width: 200px !important;
	margin: 25%;
	box-shadow: #d5d1d1 0 0 20px 10px;
}
.extrnl_btn{
    position: absolute;
	right: auto;
	margin-bottom: 5%;
}